.card_primary_wrap {
  display: flex;
  width: 100%;
  height: 100%;
}

.card_primary_inner {
  position: relative;
  width: 100%;
  padding: var(--_spacing---space--4);
  border: var(--border-width--main) solid var(--_theme---border);
  border-radius: var(--radius--main);
}

.u-text-style-h4 {
  font-family: var(--_text-style---font-family);
  font-size: var(--_text-style---font-size);
  line-height: var(--_text-style---line-height);
  font-weight: var(--_text-style---font-weight);
  letter-spacing: var(--_text-style---letter-spacing);

  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-f573562d-abfe-a445-157e-2ff8aa9b7d73;

  text-transform: var(--_text-style---text-transform, none);

  text-wrap: var(--_text-style---text-wrap);

  display: flow-root;
}

.u-margin-bottom-text {
  margin-bottom: var(--_text-style---margin-bottom);
}