.checkmark-icon {
  width: var(--_spacing---space--5);
  height: var(--_spacing---space--5);
}

.u-svg {
  display: block;
  width: auto;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  overflow: visible !important;
}

.u-svg:where(.w-variant-1c3f028b-116e-d4eb-db7f-8484491bbf2e) {
  transform: rotate(-180deg);
}

.u-svg:where(.w-variant-a0a4b133-f837-5340-6c98-04b1518f150d) {
  transform: rotate(-90deg);
}

.u-svg:where(.w-variant-5939aeba-b378-ecdc-f1bc-b6970df2be03) {
  transform: rotate(90deg);
}

.u-svg:where(.w-variant-dc469724-71a3-14e1-b5d5-1294323411ce) {
  transform: rotate(-180deg);
}

.u-svg:where(.w-variant-b18a0fcd-abb0-329e-47f4-79155dd8284a) {
  transform: rotate(-90deg);
}

.u-svg:where(.w-variant-caa8b8e9-e8ec-6eb3-4526-30f19f7326f5) {
  transform: rotate(90deg);
}