.clickable_wrap {
  z-index: 3;
  border-radius: inherit;
}

.clickable_link {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: block;
  width: 100%;
  height: 100%;

  border-radius: inherit;
}

.u-sr-only {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;

  overflow: hidden;
  width: 1px;
  height: 1px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;

  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;

  white-space: nowrap;

  clip: rect(0, 0, 0, 0);
}

.clickable_btn {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: none;
  width: 100%;
  height: 100%;

  border-radius: inherit;
}