.event-hero_wrap {
  padding-bottom: var(--site--gutter);
  justify-content: flex-end;
  align-items: stretch;
  background-color: transparent;
  min-height: calc(100svh - var(--nav--height));
}

.event-hero_wrap:where(.w-variant-f3a81397-d460-3add-9beb-5ec7af47907a) {
  ---mode--collection-f25616ad-251e-9565-fa56-447a0d6e7548: base;
}

.event-hero_wrap:where(.w-variant-b4d321b1-05d4-6b05-8ab2-dfbc2f41ee4e) {
  ---mode--collection-f25616ad-251e-9565-fa56-447a0d6e7548: mode-56ba09a5-7276-98be-9408-cf10e5c05255;
}

.event-hero_wrap:where(.w-variant-bb2c68bd-fd74-aa1e-69b0-e84595dd4ec8) {
  ---mode--collection-f25616ad-251e-9565-fa56-447a0d6e7548: mode-f385917d-c945-79cc-0de1-372bf8602d9d;
}

.event-hero_wrap:where(.w-variant-91c8e8dc-8c7a-63ae-1141-b4a4b4a34c0d) {
  ---mode--collection-f25616ad-251e-9565-fa56-447a0d6e7548: base;
}

.event-hero_wrap:where(.w-variant-91c8e8dc-8c7a-63ae-1141-b4a4b4a34c0e) {
  ---mode--collection-f25616ad-251e-9565-fa56-447a0d6e7548: mode-56ba09a5-7276-98be-9408-cf10e5c05255;
}

.event-hero_wrap:where(.w-variant-91c8e8dc-8c7a-63ae-1141-b4a4b4a34c0f) {
  ---mode--collection-f25616ad-251e-9565-fa56-447a0d6e7548: mode-f385917d-c945-79cc-0de1-372bf8602d9d;
}

.event-hero_wrap.u-section {
  color: var(--_theme---text-light);
}

.u-section {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: stretch;

  background-color: var(--_theme---background);

  color: var(--_theme---text-primary);
}

.u-section:where(.w-variant-a4eabb01-8ed6-63d0-157e-0a7b56aedaa1) {
  ---mode--collection-f25616ad-251e-9565-fa56-447a0d6e7548: base;
}

.u-section:where(.w-variant-857e5430-97c7-deb6-3c1a-d3063f9fe2c7) {
  ---mode--collection-f25616ad-251e-9565-fa56-447a0d6e7548: mode-56ba09a5-7276-98be-9408-cf10e5c05255;
}

.u-section:where(.w-variant-f3a81397-d460-3add-9beb-5ec7af47907a) {
  ---mode--collection-f25616ad-251e-9565-fa56-447a0d6e7548: base;
}

.u-section:where(.w-variant-b4d321b1-05d4-6b05-8ab2-dfbc2f41ee4e) {
  ---mode--collection-f25616ad-251e-9565-fa56-447a0d6e7548: mode-56ba09a5-7276-98be-9408-cf10e5c05255;
}

.u-section:where(.w-variant-25bf08d9-3196-322b-5616-019ac7f0f4f7) {
  ---mode--collection-f25616ad-251e-9565-fa56-447a0d6e7548: mode-f385917d-c945-79cc-0de1-372bf8602d9d;
}

.event-hero_top-line {
  position: sticky;
  z-index: 2;

  width: 100%;
  height: 1px;

  background-color: var(--_theme---background);

  top: calc(var(--nav--height) + 1px);
}

.event-hero_contain {
  position: relative;
  padding-bottom: var(--site--margin);
}

@media screen and (max-width: 767px) {
  .event-hero_contain {
    padding-bottom: var(--site--gutter);
  }
}

.u-container {
  z-index: 1;

  max-width: var(--max-width--main);
  margin-right: auto;
  margin-left: auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;

  container-type: inline-size;
  container-name: threshold-large;

  width: calc(100% - var(--site--margin));
}

.u-flex-vertical-nowrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: var(--_alignment---direction, start);

  text-align: var(--_alignment---direction, start);
}

.u-overflow-hidden {
  overflow: hidden;
}

.event-hero_layout {
  padding-top: var(--site--margin);
  padding-right: var(--site--margin);
  padding-left: var(--site--margin);
}

@media screen and (max-width: 767px) {
  .event-hero_layout {
    padding-top: var(--site--gutter);
    padding-right: var(--site--gutter);
    padding-left: var(--site--gutter);
  }
}

.u-flex-grow {
  flex: 1;
}

.u-justify-content-between {
  justify-content: space-between;
}

.u-gap-6 {
  grid-column-gap: var(--_gap---size);
  grid-row-gap: var(--_gap---size);
  ---mode--collection-187dc627-8307-4916-053e-12db01c5f7ab: mode-11f141d0-4495-9cf6-a4f4-599682bd4289;
}