.footer_wrap {
  padding-right: var(--site--margin);
  padding-left: var(--site--margin);
}

.u-sr-only {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;

  overflow: hidden;
  width: 1px;
  height: 1px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;

  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;

  white-space: nowrap;

  clip: rect(0, 0, 0, 0);
}

.footer_contain {
  width: auto;
  padding-top: var(--_spacing---section-space--main);
  padding-bottom: var(--_spacing---section-space--main);
}

.u-container {
  z-index: 1;

  max-width: var(--max-width--main);
  margin-right: auto;
  margin-left: auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;

  container-type: inline-size;
  container-name: threshold-large;

  width: calc(100% - var(--site--margin));
}

.footer_layout {
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: stretch;
  grid-row-gap: var(--_spacing---space--8);
}

.u-grid-above {
  display: grid;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-auto-columns: minmax(0px, 1fr);
  grid-column-gap: var(--site--gutter);
  grid-row-gap: var(--site--gutter);
  grid-template-rows: auto;
  grid-template-columns: repeat(var(--_column-count---value), minmax(0, 1fr));
}

.footer_content {
  display: grid;
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--site--gutter);
  grid-template-rows: auto;
  grid-row-gap: inherit;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 18rem), 1fr));

  grid-column: span 4;
}

.footer_logo_wrap {
  width: 8rem;
}

.footer_social_wrap {
  margin-top: auto;
}

.u-text-style-h6 {
  font-family: var(--_text-style---font-family);
  font-size: var(--_text-style---font-size);
  line-height: var(--_text-style---line-height);
  font-weight: var(--_text-style---font-weight);
  letter-spacing: var(--_text-style---letter-spacing);

  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-c9345ae7-c304-bdf4-0e41-d2ecd312c02f;

  text-transform: var(--_text-style---text-transform, none);

  text-wrap: var(--_text-style---text-wrap);

  display: flow-root;
}

.u-margin-bottom-4 {
  margin-bottom: var(--_spacing---space--4);
}

.footer_social_list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  grid-column-gap: var(--_spacing---space--3);
  grid-row-gap: var(--_spacing---space--3);
}

.footer_social_link {
  width: 1.5rem;
}

.u-svg {
  display: block;
  width: auto;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  overflow: visible !important;
}

.u-svg:where(.w-variant-1c3f028b-116e-d4eb-db7f-8484491bbf2e) {
  transform: rotate(-180deg);
}

.u-svg:where(.w-variant-a0a4b133-f837-5340-6c98-04b1518f150d) {
  transform: rotate(-90deg);
}

.u-svg:where(.w-variant-5939aeba-b378-ecdc-f1bc-b6970df2be03) {
  transform: rotate(90deg);
}

.u-svg:where(.w-variant-dc469724-71a3-14e1-b5d5-1294323411ce) {
  transform: rotate(-180deg);
}

.u-svg:where(.w-variant-b18a0fcd-abb0-329e-47f4-79155dd8284a) {
  transform: rotate(-90deg);
}

.u-svg:where(.w-variant-caa8b8e9-e8ec-6eb3-4526-30f19f7326f5) {
  transform: rotate(90deg);
}

.footer_nav {
  display: grid;
  flex-grow: 500;
  flex-shrink: 1;
  flex-basis: auto;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--site--gutter);
  grid-row-gap: var(--_spacing---space--7);
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 10rem), 1fr));

  grid-column: span 8;
}

.u-margin-bottom-text {
  margin-bottom: var(--_text-style---margin-bottom);
}

.footer_group_list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.footer_group_item {
  display: flex;
}

.footer_link_wrap {
  padding-top: var(--_spacing---space--2);
  padding-bottom: var(--_spacing---space--2);

  transition-property: opacity;
  transition-duration: 100ms;
  transition-timing-function: ease;

  opacity: calc(1 - 0.5 * var(--_trigger---off));
}

.u-text-style-small {
  font-family: var(--_text-style---font-family);
  font-size: var(--_text-style---font-size);
  line-height: var(--_text-style---line-height);
  font-weight: var(--_text-style---font-weight);
  letter-spacing: var(--_text-style---letter-spacing);

  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-55e5b3f5-27ac-b6ac-eb78-2facc18d7040;

  text-transform: var(--_text-style---text-transform, none);

  text-wrap: var(--_text-style---text-wrap);

  display: flow-root;
}

.footer_bottom_layout {
  display: flex;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  grid-column-gap: var(--_spacing---space--4);
  grid-row-gap: var(--_spacing---space--4);

  border-top-style: solid;
  border-top-width: var(--border-width--main);
}

.u-text-style-tiny {
  font-family: var(--_text-style---font-family);
  font-size: var(--_text-style---font-size);
  line-height: var(--_text-style---line-height);
  letter-spacing: var(--_text-style---letter-spacing);

  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-e892a24b-58fb-c22c-94b0-d9cff455f262;
  text-wrap: var(--_text-style---text-wrap);

  display: flow-root;
}

.footer_bottom_list {
  display: flex;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.footer_bottom_item {
  display: flex;
}

.footer_bottom_link_wrap {
  padding-right: 0.5rem;
  padding-left: 0.5rem;

  transition-property: opacity;
  transition-duration: 100ms;
  transition-timing-function: ease;

  opacity: calc(1 - 0.5 * var(--_trigger---off));
}

#w-node-_29394d2f-cd0c-8059-7e15-66f9381499a5-3814999f {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 1;
  grid-column-end: span 1;
}