.tab_button_item {
  position: relative;

  width: 100%;
  min-width: 10rem;
  padding-top: var(--_spacing---space--4);
  padding-right: var(--_spacing---space--4);
  padding-bottom: var(--_spacing---space--4);
  padding-left: var(--_spacing---space--4);

  border-bottom-style: solid;
  border-bottom-width: var(--border-width--main);
  border-bottom-color: var(--_theme---border);

  text-align: center;

  cursor: pointer;

  outline-offset: var(--focus--offset-inner);
  outline-width: var(--focus--width);
}

.tab_button_text {
  opacity: calc(1 - 0.3 * var(--_state---true));
}

.u-text-style-main {
  font-family: var(--_text-style---font-family);
  font-size: var(--_text-style---font-size);
  line-height: var(--_text-style---line-height);
  font-weight: var(--_text-style---font-weight);
  letter-spacing: var(--_text-style---letter-spacing);

  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: base;

  text-transform: var(--_text-style---text-transform, none);

  text-wrap: var(--_text-style---text-wrap);

  display: flow-root;
}

.tab_button_line {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;

  height: var(--border-width--main);

  opacity: var(--_state---false);

  transform: translate(0px, 100%);

  background-color: currentColor;

  width: calc(100% * var(--progress, 1));
}