.eyebrow_wrap {
  display: flex;
  justify-content: var(--_alignment---direction, start);
}

.eyebrow_layout {
  grid-column-gap: var(--_spacing---space--3);
  grid-row-gap: var(--_spacing---space--3);
  color: var(--_theme---text-secondary);
  vertical-align: baseline;
}

.eyebrow_text {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.u-text-style-tiny {
  font-family: var(--_text-style---font-family);
  font-size: var(--_text-style---font-size);
  line-height: var(--_text-style---line-height);
  letter-spacing: var(--_text-style---letter-spacing);

  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-e892a24b-58fb-c22c-94b0-d9cff455f262;
  text-wrap: var(--_text-style---text-wrap);

  display: flow-root;
}

.u-text-transform-uppercase {
  text-transform: uppercase;
}

.u-weight-medium {
  font-weight: var(--_typography---font--primary-medium);
}